@import "~src/sass/_variables.sass"
@import "~src/sass/_mixins.sass"
@import '~@angular/material/theming'

:host
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh

a
    color: $color--link
    text-decoration: none

.main
     position: relative
     padding: 40px 0 0
     padding: min(10vh, 100px) 0 0

.margin--lateral
    padding: 0 40px
    padding: 0 max(10vw, 40px)

.header 
    position: relative
    min-height: 30vh

//Create fluid font sizes
    
.title
    color: $color-white--contrast
    font-weight: 200
    letter-spacing: 1px
    margin: 0
    @include  fluid-font-size(48px, 65px)

.subtitle
    color: $color-blue
    font-weight: 100
    text-align: justify
    line-height: 40px
    margin: 40px 0
    @include  fluid-font-size(20px, 35px)

.section-title
    color: $color-grey
    font-weight: 100
    margin-top: 40px
    margin-top: min(20vh, 100px)
    margin-bottom: 40px
    @include  fluid-font-size(20px, 40px)
    text-align: center

.widget-container 
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr))
  grid-auto-rows: 1fr
  &::before
    content: ''
    width: 0px
    padding-top: 120%
    grid-row: 1 / 1
    grid-column: 1 / 1
  *:first-child 
    grid-row: 1 / 1
    grid-column: 1 / 1
.widget
    display: flex
    flex-direction: column
    justify-items: center
    align-items: center
    margin-top: 20px
    padding: 5px
    .widget-quantity
        display: flex
        justify-items: center
        align-items: center
        height: 80%
        width: 100%
        max-width: 250px
        max-height: 250px
        .widget-quantity--number
            margin: auto
            color: $color-grey
            font-weight: 100
            @include  fluid-font-size(70px, 150px)
    .widget-label
        height: 20%
        color: #616161
        font-weight: 100
        @include  fluid-font-size(15px, 25px)
        padding: 5px
        text-align: center
.widget-update-date
    color: #616161
    font-weight: 100
    @include  fluid-font-size(15px, 25px)
    text-align: center




.card-container 
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr))

  .card 
    margin: 40px 20px 0 20px
    flex: 1 1 0
    cursor: pointer
    &:hover 
        @include mat-elevation(8)
    .card-subtitle 
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        .tag
            padding-right: 20px
            .icon
                position: relative
                transform: scale(0.8)
                top: 6px
                right: 2px

.footer
    margin-top: 60px
    margin-top: min(10vh, 100px)
    padding: 40px 0
    padding: min(10vh, 50px) 0
    background: $color-background--footer
    display: flex
    text-align: center
    justify-content: center
    bottom: 0
    width: 100%
    @include  fluid-font-size(15px, 20px)
    p
        margin: auto
        color: $color-grey





